

<%= bootstrap_form_for([@article, @article.comments.build]) do |f| %>

   <div class="field">
    <%= f.text_field :commenter%>
  
    </div>

<div class = "text">
    <%= f.text_area :body%>
</div>
    <%= f.submit %>
<% end %>




