<%= stylesheet_link_tag "articles.css" %>
<body style="background-color: #e6faff">
<div class = "welcome">

	<div align="center">
 		<font color = "grey", size = "100">
  			uvaPosts
  		</font>
 	</div>
 </div>
 	<div class = "pic">
 	<div align = "center">
		<img src="/assets/anaisnin1.jpg">
	</div>
	</div>

<div class = "quote">
	<div align = "center">
 	We write to taste life twice, in the moment and in retrospect.
 	</div>
 	<div align = "center">
 	~ Anaïs Nin
	</div>
	
	
	<% if session[:user_id] %>
	<div align = "center", , id = "linkTo2">
		<font color = "grey">

			<%= link_to 'My Blog', controller: 'articles' %>
		</font>
	</div>
	<% end %>
</div>
</body>