
.field input {
    color: #999;
    font-weight: bold;
    font-size: 24px;
    padding: 10px;
    border: 2px solid #999;
    border-radius:2px;
}


.field {

    color: #999;
    font-weight: bold;
    font-size: 24px;
    
}



input[type=text], textarea {
    border-style: inset;
    color: #999;
    font-weight: bold;
    font-size: 24px;
    padding: 10px;
    border: 2px solid #999;
    border-radius:2px;
}


.text {

    color: #999;
    font-weight: bold;
    font-size: 24px;
    
}